/* Start General */
:root {
    --main-color: #f22c5c;
    --Second-color: #212b31;
    --back-ground-color: #171e22;
    --main-transition: 0.3s;
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Cairo', sans-serif;
}

body {
    position: relative;
    padding: 0;
    margin: 0;
    font-family: 'Cairo', sans-serif;
    background-color: white;
}

html {
    scroll-behavior: smooth;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-left: 120px;
    padding-right: 120px;
}

.mainHeading {
    text-align: center;
}

.mainHeading h2 {
    font-size: 40px;
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 70px;
    position: relative;
}

.mainHeading h2::after {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    border: 1.5px solid #333;
    border-radius: 50%;
    bottom: -37.5px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
}

.mainHeading h2::before {
    content: "";
    background-color: #333;
    bottom: -30px;
    position: absolute;
    width: 120px;
    height: 1.5px;
    left: 50%;
    transform: translateX(-50%);
}




.heading {
    margin: 0px auto 80px;
    padding: 15px 25px;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    width: fit-content;
    border: 2px solid var(--main-color);
    position: relative;
    z-index: 10;
    color: var(--main-color);
}

.heading:hover {
    color: white;
    border: none;
    border: 2px solid white;
    transition-delay: 0.5s;
    transition-duration: 0.2s;
}

.heading::before,
.heading::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--main-color);
    top: 50%;
    transform: translateY(-50%);
}

.heading::before {
    left: -30px;
}

.heading::after {
    right: -30px;
}

.heading:hover::before {
    animation: to-right 0.5s linear forwards;
}

.heading:hover::after {
    animation: to-left 0.5s linear forwards;
}

@keyframes to-right {
    50% {
        left: 0;
    }

    100% {
        left: 0;
        width: 50%;
        height: 100%;
        border-radius: 0px;
        z-index: -1;
    }
}

@keyframes to-left {
    50% {
        right: 0;
    }

    100% {
        right: 0;
        width: 50%;
        height: 100%;
        border-radius: 0px;
        z-index: -1;
    }
}

/* End General */
/* Start Header  */
header {
    position: absolute;
    width: 100%;
    z-index: 2;
    left: 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 97.25px;
}

header .container::after {
    content: "";
    position: absolute;
    width: calc(100% - 240px);
    height: 0.5px;
    bottom: 0;
    background-color: #a2a2a2;
}

header .container .logo {
    font-size: 40px;
    font-weight: bold;
    color: white;
}

header .container nav {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}

header .container nav .icon {
    width: 40px;
}

header .container nav .icon i {
    font-size: 20px;
    color: white;

}


header .container nav ul {
    display: flex;
    padding: 0;
    margin: 0;
}



header .container nav ul a {
    padding: 40px 15px;
    position: relative;
    display: block;
    font-size: 18px;
    color: white;
    text-decoration: none;
    transition: var(--main-transition);
}

header .container nav ul .home,
header .container nav ul a:hover {
    color: var(--main-color);
}

header .container nav ul .home::after,
header .container nav ul a:hover::after {
    content: "";
    position: absolute;
    background-color: var(--main-color);
    z-index: 2;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
}

header .container nav .user {
    color: white;
    font-size: 18px;
    position: relative;
    margin-left: 20px;
}

header .container nav .user::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 1px;
    background-color: white;
    left: -20px;
}

header .container nav .user svg {
    color: var(--main-color);
}

header .container nav .user .userName,
header .container nav .user .changeAccount {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: var(--main-transition);
}

header .container nav .user .userName:hover,
header .container nav .user .changeAccount:hover {
    color: var(--main-color);
}

/* End Header  */
/* Start Landing */
.landing {
    position: relative;
    background-image: url(../images/landing.jpg);
    background-size: cover;
    height: 100vh;
}

.landing .overlay {
    background-color: rgb(0 0 0 / 60%);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: relative;
}

.landing .overlay .text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    width: 50%;
    background-color: var(--transparent-color);
    padding: 50px;
    display: flex;
    justify-content: flex-end;
}

.landing .overlay .text .content {
    width: 500px;
}

.landing .overlay .text .content h2 {
    margin-bottom: 30px;
    font-size: 35px;
    font-weight: 400;
    line-height: 1.5;
}


/* End Landing */
/* Start Products */
.products {
    background-color: #eff2f3;
    padding-top: 60px;
    padding-bottom: 60px;
}

.products .content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 30px;
}

.products .content .box {
    text-align: center;
}

.products .content .box img {
    width: 100%;
}

.products .content .box h3 {
    color: #acacac;
    font-size: 25px;
    font-weight: 300;

}

.products .content .box p {
    color: #777;
}

.products .list {
    color: white;
    margin: 30px auto 0;
    width: fit-content;
    font-size: 20px;
    background-color: var(--main-color);
    padding: 15px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    transition: var(--main-transition);
}

.products .list:hover {
    background-color: #d32c56;
}

/* End Products */
/* Start Services */
.services {
    background-color: white;
    padding-top: 60px;
    padding-bottom: 60px;
}

.services .content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 30px;
}

.services .content .box {
    border: 1px solid #ccc;
    overflow: hidden;
    text-align: center;
}

.services .content .box .image {
    position: relative;
    overflow: hidden;
}

.services .content .box img {
    max-width: 100%;
    z-index: 1;
    width: 100%;
}

.services .content .box .image::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgb(244, 64, 54, 0.3);
}

.services .content .box .image::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    border: 0 solid;
    border-color: transparent transparent white transparent;
    border-width: 0px 0px 170px 700px;
    transition: 0.3s;
    z-index: 3;
}

.services .content .box:hover .image::before {
    border-width: 0px 600px 130px 0px;
}


.services .content .box h3 {
    font-size: 30px;
    position: relative;
    width: fit-content;
    margin: 0 auto;
}

.services .content .box h3::after {
    content: "";
    position: absolute;
    width: calc(100% - 30px);
    height: 4px;
    bottom: -15px;
    left: 15px;
    background-color: rgb(244, 64, 54);
}

.services .content .box p {
    color: #777;
    line-height: 2;
    margin: 30px;
}

.services .content .box .service {
    font-size: 20px;
    padding: 10px 25px;
    display: block;
    width: fit-content;
    margin: 0 auto 30px;
    border-radius: 6px;
    position: relative;
    overflow: hidden;
    transition: 0.3s;
    color: rgb(244, 64, 54);
    border: 3px solid rgb(244, 64, 54);
    background: linear-gradient(to right, rgb(244, 64, 54) 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    cursor: pointer;
}

.services .content .box:hover .service {
    background-position: left;
    color: white;
    transition: 0.3s;
}

.services .contact {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 50;
}

.services .contact .cover {
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 550px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

.services .contact .cover .close {
    align-self: flex-end;
    font-size: 25px;
    color: #777;
    width: fit-content;
    padding: 0 5px;
    cursor: pointer;
}

.services .contact .cover h2 {
    width: fit-content;
    align-self: center;
    color: #777;
}

.services .contact .cover form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 25px;
}

.services .contact .cover form input {
    border: 1px solid #dddddd;
    border-radius: 3px;
    padding: 5px;
}

.services .contact .cover form input:focus {
    outline: none;
}

.services .contact .cover form textarea {
    border: 1px solid #dddddd;
    border-radius: 3px;
    resize: none;
    height: 120px;
    padding: 5px;
}

.services .contact .cover form textarea:focus {
    outline: none;
}

.services .contact .cover form button {
    color: white;
    margin: 0px auto 0;
    width: fit-content;
    font-size: 15px;
    background-color: var(--main-color);
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    transition: var(--main-transition);

}

.services .done {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 50;
}

.services .done .cover {
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 550px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

.services .done .cover .close {
    align-self: flex-end;
    font-size: 25px;
    color: #777;
    width: fit-content;
    padding: 0 5px;
    cursor: pointer;
}

.services .done .cover p {
    margin: 50px auto;
    font-size: 20px;
}

.services .done .cover img {
    width: 100px;
    margin-top: 100px;
    align-self: center;
}

.services .done .cover button {
    border: none;
    background-color: var(--main-color);
    color: white;
    margin-top: 20px;
    padding: 5px;
    width: 80%;
    align-self: center;
    border-radius: 5px;
    cursor: pointer;
}

/* End Services */